<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>

    <script th:src="@{/js/external/jquery/jquery.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>

    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title>Spring Boot - Home</title>
</head>
<body>
<div>
    Spring Boot Home
</div>
<div id="left-nav">
    <h1>Menu</h1>
    <div>Teams</div>
    <div>Options</div>
    <div>Calendar</div>
</div>
</body>
</html>